*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	display: block;
	border: 0;
}
html,body,#root,.App,.container{
	width: 100vw;
	height: 100vh;
	background: #fff;
}
.container{
	display: flex;
	flex-direction: column;
}
.foot{
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-top: 1px solid #e2e2e2;
	background: #fff;
	font-size: 14px;
}
.col{
	color: #666;
}
.active{
	color: red;
}
header,footer{
	height: 45px;
}
header{
	background: rgba(255,0,0,0.8);
	position: relative;
}
section{
	flex: 1;
	overflow: auto;
}

